<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap-theme.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="js/bootstrap.js">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        
    </head> 
    <body>
        
            <div class="row">
                <div class="center logo-topo">
                    <img src="img/logo.png" width="50px">
                </div>    
            </div>    

    <div class="container">
        <div class="row">

                <a href="#">
                     <div class="col-sm-3 col-xs-6">
                        <div class="curso">Oracle</div>
                    </div>
                </a>

                 <a href="#">
                     <div class="col-sm-3 col-xs-6">
                        <div class="curso">PL/SQL</div>
                    </div>
                </a>

                <a href="#">
                     <div class="col-sm-3 col-xs-6">
                        <div class="curso">Angular</div>
                    </div>
                </a>

                <a href="#">
                     <div class="col-sm-3 col-xs-6">
                        <div class="curso">Node</div>
                    </div>
                </a>

            
        </div>
        </div>
        
    </body>    
</html>