.m-t-20{
    margin-top: 20px !important;
}

.m-t-10{
    margin-top: 10px !important;
}

.center{
    margin:0 auto;
    text-align: center;
}

.f-r{
    float: right;
}

.cx-login {
    margin-top: 40px;
}

.btn-login {
    padding-top: 9px;
}

.curso {
    font-size: 30px;
    color: #e8e8e8;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #e8e8e8;
    margin-top: 15px;
    padding: 20px;
}

.logo-topo {
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.2);
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background: url(/images/bg.jpg);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center; 
}

/** Ajustando a posição do ícone de feedback */
.row input + .glyphicon{
    right: 14px;
}

.row select + .glyphicon{
    right: 28px;
}

/** Formulário de cadastro **/
.cx-login form{
    margin-top: 30px;
}

/** Dicas dos campos **/
.help-block{
    background-color: rgba(255,255,255,.7);
    padding: 6px;
}
    