<div class="row">
    <div class="center logo-topo">
        <img src="img/logo.png" width="50px" />
    </div>
</div>

<div class="container">
    <div class="row">

        <a href="#">
            <div class="col-sm-3 col-xs-6">
                <div class="curso">Oracle</div>
            </div>
        </a>

        <a href="#">
            <div class="col-sm-3 col-xs-6">
                <div class="curso">PL/SQL</div>
            </div>
        </a>

        <a href="#">
            <div class="col-sm-3 col-xs-6">
                <div class="curso">Angular</div>
            </div>
        </a>

        <a href="#">
            <div class="col-sm-3 col-xs-6">
                <div class="curso">Node</div>
            </div>
        </a>
    
    </div>
</div>