<div class="row">
    <div class="center logo-topo">
        <img src="/images/logo.png" width="50px" />
    </div>
</div>
<div ng-controller="CursosCtrl" class="container">
    <div class="row">
        <div ng-repeat="curso in cursos track by curso.id">
            <a href="#" onclick="return false">
                <div class="col-sm-3 col-xs-6">
                    <div class="curso">{{curso.curso}}</div>
                </div>
            </a>
        </div>
    </div>
</div>
<br/>
<br/>
<div class="row text-center">
    <a href="/sair" class="btn btn-primary">Sair</a>
</div>